@import "tailwindcss";

@theme {
    --color-brand-primary: #10b981;
    --color-brand-secondary: #34d399;
    --color-brand-accent: #ff4d00;
    /* Dark Reddish Orange */
    --color-brand-dark: #0B0C0E;
    --color-brand-surface: #1C1E23;
    --color-brand-light: #d1fae5;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        background-color: #0B0C0E;
        color: #d1d5db;
        font-family: var(--font-sans);
    }
}

@layer utilities {
    .text-brand-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
    }
}